body {
  font-family: "Open Sans", sans-serif; 
overflow-x: hidden;
}

h1 {
  color: #ccc;
  font-weight: 300; 
}

figure {
  margin: auto; }

.content article {
  padding: 70px 0;
  max-width: 640px;
  margin: 0 auto;
  text-align: center; 
}

img {
  max-width: 100%; 
}

.bird-box {
  position: relative;
  height: 600px;
  background-image: url(../images/bird-bg.jpg);
  background-size: auto 600px;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden; 
}

.logo {
  height: 100px;
  width: 100%;
  background-image: url(../images/black-bird-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
}

.fore-bird {
  width: 960px;
  height: 733px;
  background-image: url(../images/fore-bird.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  position: absolute;
  left: 50%;
  margin-left: -480px;
  top: 380px; 
}

.back-bird {
  width: 960px;
  height: 298px;
  background-image: url(../images/back-bird.png);
  background-repeat: no-repeat;
  background-position: top left;
  position: absolute;
  left: 50%;
  margin-left: -480px;
}

.bg1, .bg2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/bg1.png);
    background-size: 600px auto;
    opacity: 0.2;
}

.bg2 {
    background-image: url(../images/bg2.png);
}


/*Closes gallery*/
.clothes-pics figure {
    margin-bottom: 20px;
    position: relative;
    opacity: 0;
    transform: translateX(-20px);
    transition: all .8s;
    overflow: hidden;
}

.clothes-pics figure:hover img{
    transform: scale(1.1);
}

.clothes-pics figure img {
    display: block;
    transition: all .3s;
    transform: scale(1);
}

.clothes-pics figcaption {
    position: absolute;
    background-color: #000;
    color: #fff;
    bottom: 10px;
    padding: 2px 8px;
    font-size: 11px;
    transform: translateX(-100px);
    opacity: 0;
    transition: all .3s;
}

.clothes-pics figure:hover figcaption {
    opacity: 1;
    transform: translateX(0px);
}

.clothes-pics figure.is-shown{
    opacity: 1;
    transform: translateX(0px);
}

/*Periscope*/
.periscope {
    width: 100%;
    margin: 100px auto 0;
    border-radius: 50%;
    background-image: url(../images/model2.jpg);
    background-attachment: fixed;
    background-position: center 0px;
    position: relative;
}

.periscope::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.periscope-tint {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.periscope-promo {
    color: #fff;
    font-weight: 100;
    font-size: 50px;
}

.periscope-promo strong {
    display: block;
    font-size: 30px;
}

.periscope-promo span {
    font-weight: 300;
    font-size: 18px;
    font-style: italic;
    color: rgba(255,255,255,0.6);
}

.periscope-cta {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 20px;
    transition: all .3s ease-in-out;
}

.periscope-cta:hover {
    color: #000;
    background-color: #fff;
}

/*Rich history*/
.blog-posts {
  margin-top: 100px;
}

.blog-posts .post {
  border: 1px solid #e1e1e1;
  padding: 20px 20px 0;
  transition: all .5s;
  background-color: white;
  position: relative;
}

.blog-posts .post_1{
  transform: translate(100px, 20px);
}

.blog-posts .post_2{
  z-index: 2;
}

.blog-posts .post_3{
  transform: translate(-100px, 20px);
}

/*Footer*/
footer {
    background-color: #000;
    color: #fff;
    padding: 40px 0;
}

footer .footer-stuff {
    max-width: 640px;
    margin: 0 auto;
}

footer a {
    color: #fff;
    text-decoration: none;
}